.tab {
    position: relative;
    // border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    // background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    background: #1f1f1f;
    color: white;
    font-weight: bold;
    padding: 12px 0;
    &:first-of-type {
        border-radius: 6px 0 0 6px;

        @mixin rtl {
            border-radius: 0 6px 6px 0;
        }
    }

    &:last-of-type {
        border-radius: 0 6px 6px 0;

        @mixin rtl {
            border-radius: 6px 0 0 6px;
        }
    }

    & + & {
        border-left-width: 0;

        @mixin rtl {
            border-right-width: 0;
            border-left-width: 1px;
        }
    }

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }

    &[data-active] {
        z-index: 1;
        background-color: white;
        // background-color: var(--mantine-color-blue-filled);
        // border-color: var(--mantine-color-blue-filled);
        // color: var(--mantine-color-white);
        color: black;
        @mixin hover {
            background-color: var(--mantine-color-blue-filled-hover);
        }
    }
}
